/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body{
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*---------------------------------
  My css
---------------------------------*/
.wrapper{
    overflow: hidden;
}

/*---------------------------------
 Fonts
---------------------------------*/
.border,.date,.general,.specific{
    font-family: "Montserrat";
    color: #101010;
}

.date,.general,.specific{
    font-weight: bold;
}

h2.border{
    font-size: 48px;
}

h3.date{
    font-size: 24px;
}

p.name,p.sentence,td{
    font-family: "YuGothic";
    font-size: 16px;
}

p.name,td{
    font-weight: bold;
}

p.sentence{
    font-weight: 500;  /*medium*/
}

.border::after{
    content: '';
    display: block;
    background-color: #0A0A0A;
    width: 69px;
    height: 5px;
}

/*---------------------------------

  header

---------------------------------*/
.header{
    line-height: 0;
}

.main_img{
    background-image:url("images/freestocks-org-662164-unsplash.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 806px;
    height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 180px;
}

header h1.logo{
    font-family: "Montserrat";
    font-size: 20px;
    height: auto;  
    position: absolute;
    top:4%;
    left:3%;
}

header h1 a{
    text-decoration: none;
    color: #FFFFFF;
}

header .sub_logo{
    font-family:"Book Antiqua";
    font-size: 12px;
    color: #FFFFFF;
    position: absolute;
    top: 8.1%;
    left: 3.1%;
}

header p.maintitle{
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: bold;
    color: #121212;
    position: absolute;
    top:44%;
    left:10%;
    line-height: 1;
}

header p.subtitle{
    font-family: "YuGothic";
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing:0.05em;
    position: absolute;
    top: 69.3%;
    left: 10%;
    line-height: 1;
}

/* -----header nav -------*/
header ul.flex{
    width: 500px;
    display: flex;
    justify-content:space-between;
    position: absolute;
    right:2.7%;
    top:3.7%;  
    line-height: 1;
}

header .li{
    list-style-type:none; 
}

header .li a{
    display: block;
    color: #000;
    text-decoration: none;
    font-family: "Gotham Bold";
    font-size: 18px;
}

nav .li.border::after{
    width: 57px;
    height: 8px;
    margin-top: 5px;
}

/*
表示崩れ防止
———————————*/
@media (max-width:1024px) {
    header ul.flex{
        width: 49.9%;
        min-width: 320px;
    }
}

/*---------------------------------
  container
---------------------------------*/
.container{
    width:1004px;
    margin: 0 auto;
}    

/*---------------------------------
  About
---------------------------------*/
main div.about_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 115px;
}

/*------box-----*/
.about_box{
    width: 418px;
    padding-bottom: 58px;
    background-color:#F0F0F0;
    border: solid 1px #707070;
}

.about_box .center{
    width: 305px;
    margin: 0 auto;
}

.about_box .center h2{
    margin-top: 77px;
}

.about_box .border::after{
    width: 69px;
    height: 5px;
    margin-top: 10px;
    margin-bottom:12px ;
}


.about_box .center h3{
    margin-top: 25px;
    margin-bottom: 29px;
}

.about_box .center .sentence{
    line-height: 2;
}

main .about_img{
    display:block;
}
/*
表示崩れ防止
———————————*/
@media (max-width:1024px) {
    .container {
        width: 83.6%;
    }
    .about_box {
        width: 41.5%;
    }
    .about_box .center {
        width: 73.2%;
    }
    .about_img {
        width: 52.9%;
    }
    .about_img > img {
        display: block;
        width: 100%;
    }
}
/*
表示崩れ防止
———————————*/
@media (max-width:720px) {
    main div.about_flex{
        display: block;
    }
    
    /*------box-----*/
    .about_box{
        width: 418px;
        margin: 0 auto 50px;
    }

    .about_box .center{
        width: 305px;
    }
    .about_img {
        display:block;
        width: 80%;
        min-width: 410px;
        margin: auto;
    }
}

/*---------------------------------
  Item
---------------------------------*/
.Item{
    margin-bottom: 352px;
}

.Item .border::after{
    width: 69px;
    height: 5px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.Item p.name{
    margin-bottom: 40px;
}

.item{
    display: flex;
    justify-content:space-between;
}

.item .li{
    margin: 0;
    list-style-type: none;
}

.item .item_img{
    margin-bottom: 39px;
    display: block;
}

.item li p.general{
    font-size: 16px; 
    margin-bottom: 12px;
}

.item li p.specific{
    font-size: 24px;
    margin-bottom: 32px;
}
/*
表示崩れ防止
———————————*/
@media (max-width:1024px) {
    .Item{
        margin-bottom: 352px;
    }
    .Item .border::after{
        width: 69px;
        height: 5px;
        margin-top: 8px;
        margin-bottom: 12px;
    }
    .item li {
        width: 30%;
    }
    .item_img {
    }
    .item_img > img {
        display: block;
        width: 100%;
        height: auto;
    }
}

/*---------------------------------
  Price
---------------------------------*/
.price_wrap{
    position: relative;
    width: 100%;
    padding-bottom: 421px;
    margin: 0 auto;
    margin-bottom: 177px;
}

/* -----------料金表 ----------*/
.price_wrap .box{
    width: 494px;
    background-color:rgba(255, 255, 255, 0.8);
    border: solid 5px #a38787;
    position: relative; 
}

.price_wrap .center{
    width: 324px;
    margin: 0 auto;
}

.price_wrap h2.border{
    margin-top: 55px;
    text-align: center;
} 

.price_wrap h2.border::after{
    margin: 18px auto 15px auto ;
}

.price_wrap p{
    margin-bottom: 70px;
    text-align: center;
}

.table{
    border-collapse:separate;
    max-height: 230.6px;
    margin-bottom: 70px;
}

.td{
    display: inline-block; /* IE対策 */
    border-bottom:dashed 1px #707070;
    padding-bottom: 10px;
    padding-top: 20px;
}

tr:last-child td{
    border-bottom: none;
    padding-bottom:0;
}

.price_img{
    display:block;
    position: absolute;
    top: 93px;
    left: 340px;
    z-index: -1;
}
/*
表示崩れ防止
———————————*/
@media (max-width:1024px) {
    .price_wrap .box {
        width: 59.7%;
        min-width: 360px;
        margin: auto;
    }
    .price_img {
        left: 50%;
        transform: translateX(-50%);
        width: 160%;
    }
    .price_img > img {
        display: block;
        width: 100%;
    }
    .table {
        width: 90%;
        margin: 0 auto 70px;
    }
    tr {
        display: flex;
        justify-content: space-between;
        border-bottom:dashed 1px #707070;
    }
    tr:last-child {
        border: none;
    }
    .td{
        border-bottom:none;
    }
}

/*---------------------------------
  Blog
---------------------------------*/
div.Blog{
    margin-bottom: 228px;
}

.Blog h2.border::after{
    margin-top: 12px;
    margin-bottom: 21px;
}

div.blog{
    margin-top:12px ;
    margin-bottom: 21px;
}

p.blog{
    margin-bottom: 60px;
}

.blog_list{
    display: flex;
    justify-content: flex-start;
}

.blog_list .li{
    margin: 0;
    margin-right: 15px;
    list-style-type: none;
}

.blog_list .li img{
    display: block;
}

.blog_list .li .date{
    margin-top: 29px;
    margin-bottom: 7px;
}

.blog_list .li .sentence{
    margin-left: 7px;
    font-size: 16px;
}
/*
表示崩れ防止
———————————*/
@media (max-width:1024px) {
    .blog_list {
        justify-content: space-between;
    }
    .blog_list li {
        width: 30%;
        margin-right: 0;
    }
    .blog_img > img {
        display: block;
        width: 100%;
        height: auto;
    }
}
/*---------------------------------
  Access
---------------------------------*/
.access{
    margin-bottom: 179px;
}


.access .border::after{
    margin-top: 24px;
    margin-bottom: 21px;
}

.access p.one{
    font-family: "YuGothic";
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 98px;
}

.access h3.date{
    font-family: "Montserrat";
    color: #101010;
    font-size: 24px;
    margin-bottom: 7px;
}

.access .sentence{
    margin-bottom: 33px;
}

.access div.flex{
    display: flex;
    justify-content: space-between;
}

.access .map{
    margin-bottom: 147px;
}

.borderline{
    width: 664px;
    height: 421px;
    border: solid 1px #707070;
    margin-bottom: 147px;
}

/*---------------------------------
   Root
---------------------------------*/
.root{
    width: 751px;
    margin:0  auto;
}

.root .intro{
    font-family:"YuGothic" ;
    font-size:24px ;
    font-weight: bold;
    color:#000000 ;
    margin-bottom: 28px;
}

.root .margin{
    margin-top:32px;
    margin-bottom: 32px; 
}

.root .sentence{
    word-wrap: break-word;
    letter-spacing: 0.05em;
    line-height: 1.5;
}
.root .sentence span{
    margin-right: 27px;
}

/*
表示崩れ防止
———————————*/
@media (max-width:1024px) {
    .address {
        width: 30%;
    }
    .borderline {
        width: 63%;
    }
    
    .access .map {
        width: 100%;
    }
    
    .root {
        width: 74.8%;
    }
    
}




/*---------------------------------

  footer

---------------------------------*/
footer.footer{
    background-color: #000;
    padding-top:83px;
    padding-bottom: 84px; 
}
footer .footer_logo{
    font-family: "Montserrat";
    color: white;
    font-size: 80px;
    text-align: center;
}